.container{
 border:1px solid red;
 display: flex;
 height: 98vh;
}
.sideBar{
    width:15%;
    border:1px solid white;
    height: 100%;
}
.main{
    width:85%;
    border:1px solid white  ;
    height: 100%;
    /* display: flex; */
    flex-direction: column;
    
}
.navBar{
    margin-bottom: 1em;
}
.table{
    margin-top: 4em;
    width: 90%;
    border: 1px solid red;
}