.transactionForm{
    /* width: 700px; */
}

.topFields{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.mainDiv{
    background: linear-gradient(263.41deg, #6D73D5 -6.12%, rgba(54, 57, 148, 0.875091) 17.42%, rgba(18, 14, 79, 0.613555) 66.72%, rgba(22, 9, 125, 0.385228) 114.01%, rgba(28, 0, 203, 0) 167.53%);
    width: 90vw;
    margin-top: 64px;
}

form{
    padding: 50px;
    /* border-color: #00ff00; */
}


/* .mainDiv fieldset {
    border-color: #f11;
} */

/* Main body */

/* position: absolute;
width: 1103px;
height: 691px;
left: 261px;
top: 139px; */

/* background: linear-gradient(263.41deg, #6D73D5 -6.12%, rgba(54, 57, 148, 0.875091) 17.42%, rgba(18, 14, 79, 0.613555) 66.72%, rgba(22, 9, 125, 0.385228) 114.01%, rgba(28, 0, 203, 0) 167.53%); */
/* fill: linear-gradient(263deg, #6D73D4 -6.12%, rgba(54, 57, 148, 0.88) 17.42%, rgba(18, 14, 79, 0.61) 66.72%, rgba(22, 9, 125, 0.39) 114.01%, rgba(28, 0, 203, 0.00) 167.53%); */
/* border-radius: 30px; */
