/* .MuiDrawer-paper {
    background-color: #007bff;
  } */

  /* *{
    color: #fff  ;
    gap: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: bold;
 
  } */
  .activee{
    background-color: rgb(32, 23, 23);
  }