.walletHolder {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: space-between;
    margin: auto;
    border-radius: 30px;
    background-color: var(--gradiend-color);
    padding: 2em;
    width: 100%;
    /* border: 1px solid red; */
}
.chartsHolder {
    display: flex;
    justify-content: space-around;
    height: 25%;

}


.nbDiv {
    /* border: 1px solid green; */
    height: 65%;
    display: flex;
    gap: 1.5em;
}


.balanceHolder,
.recentHolder {
    height: 100%;
    /* padding: 0.5em; */
    /* border: 1px solid red; */


}

.balanceHolder {
    width: 40%;
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    /* border: 2px solid #000; */
    padding: 0.8em;

}

.recentHolder {
    width: 60%;
    border-left: 3px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 1em;
    padding: 0.8em 0.8em 0em 1.3em;

    /* border: 2px solid #000; */
}

.actions{
    border-bottom: 3px solid #000;
    padding-bottom: 2em;
    justify-content: space-between;
}

.actions,
.balances {
    /* border: 1px solid #000; */
    height: 50%;
    display: flex;
    flex-direction: column;
}

.balances{
    padding-top: 1em;
    justify-content: flex-start;
    gap:2em;
}

.walletTitles {
    font-weight: 400;
    font-size: 1.6em;
    /* border: 1px solid red; */
    padding: 0;
    display: inline;
    height: 100%;
}

/* .titleInline {
    display: inline-block;
} */

.currencyDiv {
    width: 4.5em;
    /* height: 1.5em; */
    height: auto;
    display: inline-flex;
    /* background-color: rgba(77, 77, 79, 0.31); */
    background-color: #4D4D4F;
    text-align: center;
    font-size: 1.2em;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-weight: normal;
    /* border: 1px solid red; */
}

.balanceCurrencySpan {
    /* border: 1px solid red; */
    display: flex;
    gap: 1em;
    height: 20%;
    /* align-items: center; */
}

.balanceSpan,
.actionBtns {
    font-size: 1.4em;
    /* border: 1px solid red; */
}

.actionBtns {
    display: flex;
    justify-content: space-between;
}

.actionbtn {
    display: flex;
    width: 25%;
    height: 1.8em;
    background: rgba(40, 87, 254, 0.48);
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}
.depositBtn{
    background-color: #FFE712;
    color: #000;
}

/* .balanceTitle::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 25%;
    width: 30%;
    height: 2px;
    background-color: #7A7A7A;
} */

.balanceTitle::after {
    display: block;
    clear: both;
    content: "";
    position: relative;
    left: 0;
    bottom: 0;
    max-width: 10%;
    height: 1px;
    width: 50%;
    border-bottom: 2px solid #7A7A7A;
    padding: 5px 0px;
}

.usdtBalance , .usdBalance{
    /* border: 1px solid red; */
    font-size: 1.4em;
    display: flex;
justify-content: center;
align-items: center;
justify-content: space-between;
}

.cryptoLogo{
    width:37px ;
    height:32px ;
}
.dollarLogo{
    width:32px ;
    height:32px ;
}

.cuurencyLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0.5em
}
.recentTitle{
    /* border: 1px solid #FFF; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6em;
}
.recents{
    height: 90%;
    display: flex;
flex-direction: column;
gap:1%;
width: 95%;
margin: 0 auto;


}
.recentOne{
   /* border: 1px solid red; */
   height: 18%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 1.3em;
   
}
.recentArrow{
    /* border: 3px solid #FFF; */
    width:2.5em;
    height: 2.5em;
    border-radius: 14px;
display: flex;
justify-content: center;
align-items: center;
}