.all{
    height: 100vh;
    background-color: #0C0E2E;
}
tspan {
    fill: white !important
}
line {
    stroke: white !important;
}

.overviewHolder{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.merchantflex1 , .merchantflex2{
    height: 49%;
    width: 92%;
    /* border: 3px solid red; */
    margin: 0 auto;
}

.merchantflex2{
    background-color:var(--gradiend-color);
    border-radius: 25px;

}
.merchantflex1{
    display: flex;
}
.chartMerchant , .cardsMerchants{
    /* border: 1px solid yellow; */
    height: 100%;
}
.chartMerchant{
    width: 70%;
        border: 1px solid yellow;

}
.cardsMerchants{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.cardMerchant{
    /* border: 3px solid white; */
    height: 48%;
    /* justify-content: space-between; */
    align-items: center;

}